<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#for-exercises" data-toc-modified-id="for-exercises-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><code>for</code> exercises</a></span><ul class="toc-item"><li><span><a href="#Print-first-10-numbers-using-a-for-loop" data-toc-modified-id="Print-first-10-numbers-using-a-for-loop-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Print first 10 numbers using a <code>for loop</code></a></span></li><li><span><a href="#Print-sum-of-all-even-numbers-from-10-to-20" data-toc-modified-id="Print-sum-of-all-even-numbers-from-10-to-20-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Print sum of all even numbers from 10 to 20</a></span></li><li><span><a href="#Calculate-the-square-of-each-number-of-list" data-toc-modified-id="Calculate-the-square-of-each-number-of-list-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Calculate the square of each number of list</a></span></li><li><span><a href="#Calculate-the-average-of-list-of-numbers" data-toc-modified-id="Calculate-the-average-of-list-of-numbers-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Calculate the average of list of numbers</a></span></li><li><span><a href="#Given-a-list--months-write-a-for-loop-that-return-only-the-months-beginning-with-&quot;J&quot;" data-toc-modified-id="Given-a-list--months-write-a-for-loop-that-return-only-the-months-beginning-with-&quot;J&quot;-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Given a list  <code>months</code> write a <code>for loop</code> that return only the months beginning with "J"</a></span></li><li><span><a href="#Write-a-for-a-loop-that-break-when-we-found-a-number-greater-than-5." data-toc-modified-id="Write-a-for-a-loop-that-break-when-we-found-a-number-greater-than-5.-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Write a for a loop that break when we found a number greater than 5.</a></span></li><li><span><a href="#Reverse-a-list-using-a-loop" data-toc-modified-id="Reverse-a-list-using-a-loop-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Reverse a list using a loop</a></span></li></ul></li><li><span><a href="#if---else-exercises" data-toc-modified-id="if---else-exercises-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><code>if - else</code> exercises</a></span><ul class="toc-item"><li><span><a href="#Print-all-even-and-odd-numbers" data-toc-modified-id="Print-all-even-and-odd-numbers-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Print all even and odd numbers</a></span></li><li><span><a href="#Take-two-int-values-from-user-and-print-greatest-among-them." data-toc-modified-id="Take-two-int-values-from-user-and-print-greatest-among-them.-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Take two int values from user and print greatest among them.</a></span></li><li><span><a href="#A-school-has-following-rules-for-grading-system:" data-toc-modified-id="A-school-has-following-rules-for-grading-system:-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>A school has following rules for grading system:</a></span></li><li><span><a href="#Take-input-of-age-of-3-people-by-user-and-determine-oldest-and-youngest-among-them." data-toc-modified-id="Take-input-of-age-of-3-people-by-user-and-determine-oldest-and-youngest-among-them.-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Take input of age of 3 people by user and determine oldest and youngest among them.</a></span></li><li><span><a href="#Break-the-loop-if-number-a-number-is-greater-than-15" data-toc-modified-id="Break-the-loop-if-number-a-number-is-greater-than-15-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Break the loop if number a number is greater than 15</a></span></li><li><span><a href="#Write-an-if-statement-that-asks-for-the-user's-name-via-input()-function.-If-the-name-is-&quot;Bond&quot;-make-it-print-&quot;Welcome-on-board-007.&quot;-Otherwise-make-it-print-&quot;Good-morning-NAME&quot;.-(Replace-Name-with-user's-name)" data-toc-modified-id="Write-an-if-statement-that-asks-for-the-user's-name-via-input()-function.-If-the-name-is-&quot;Bond&quot;-make-it-print-&quot;Welcome-on-board-007.&quot;-Otherwise-make-it-print-&quot;Good-morning-NAME&quot;.-(Replace-Name-with-user's-name)-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Write an if statement that asks for the user's name via input() function. If the name is "Bond" make it print "Welcome on board 007." Otherwise make it print "Good morning NAME". (Replace Name with user's name)</a></span></li><li><span><a href="#tree-is-a-dictionary-showing-the-tree-number-of-countries-per-square-kilometer-for-random-countries-with-sizeable-population-numbers.-Create-a-list-named-&quot;moretrees&quot;-that-contains--the-name-of-country-names-with-more-than-20.000-trees-per-square-kilometer." data-toc-modified-id="tree-is-a-dictionary-showing-the-tree-number-of-countries-per-square-kilometer-for-random-countries-with-sizeable-population-numbers.-Create-a-list-named-&quot;moretrees&quot;-that-contains--the-name-of-country-names-with-more-than-20.000-trees-per-square-kilometer.-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span><code>tree</code> is a dictionary showing the tree number of countries per square kilometer for random countries with sizeable population numbers. Create a list named "moretrees" that contains  the name of country names with more than 20.000 trees per square kilometer.</a></span></li></ul></li></ul></div>

#  `for` exercises

## Print first 10 numbers using a `for loop`

In [3]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

##  Print sum of all even numbers from 10 to 20

In [65]:
sum_even = 0
for i in range (10,20):
    if i % 2 == 0:
        sum_even =sum_even + i
print(sum_even)

70

## Calculate the square of each number of list

In [23]:
numbers = [1, 2, 3, 4, 5]

In [12]:
for i in numbers:
    print(i**2)

1
4
9
16
25

##  Calculate the average of list of numbers

In [21]:
suma = 0
count = 0
for i in numbers:
    suma += i
    count += 1
average = sum / count
print(average)

3.0

In [72]:
suma = sum(numbers) #por qué me da error?????????
longitud = len(numbers)
average = suma / longitud
print(average)

TypeError: 'int' object is not callable

## Given a list  `months` write a `for loop` that return only the months beginning with "J"

In [29]:
months = ['January', 'February', 'March', 'April', 'May',
          'June', 'July', 'August', 'September', 'October', 
          'November', 'December']

In [75]:
for i in months:
    if i[0] == "J":
        print(i)

January
June
July

In [77]:
mesesJota =[]
for mes in months:
    if mes[0] == "J":
        mesesJota.append(mes)
print(mesesJota)

['January', 'June', 'July']

## Write a for a loop that break when we found a number greater than 5.

*HINT*: Example of using a break statement

In [82]:
lista_inventada = [2,5,4,8,9]
for numero in lista_inventada:
    if numero>5: break
    print(numero)# me imprime los números de la lista hasta que break

2
5
4

In [83]:
lista_inventada = [2,5,4,8,9]
for numero in lista_inventada:
    if numero>5: break
print(numero)#como el print está fuera del for, me imprime el primer numero que me hace break

8

## Reverse a list using a loop

In [86]:
numbers = [1, 2, 3, 4]

In [87]:
len(numbers)

4

In [91]:
numbers_reverse=[]
posicion = len(numbers)-1
for numero in numbers:
        numbers_reverse.append(numbers[posicion])
        posicion -=1

print(numbers_reverse)

[4, 3, 2, 1]

# `if - else` exercises

## Print all even and odd numbers

In [ ]:
#???????

## Take two int values from user and print greatest among them.

In [102]:
comparar_valores = list(input("Dame dos valores [ , ]"))

valor1= comparar_valores[0]
valor2= comparar_valores[1]
if valor1>valor2:
    print("valor1 greatest")
else:
    print("Valor2 greatest") #si meto con coma, me compara el primer valor con la coma

Dame dos valores [ , ]21
valor1 greatest

## A school has following rules for grading system:
    a. Below 25 - F
    b. 25 to 45 - E
    c. 45 to 50 - D
    d. 50 to 60 - C
    e. 60 to 80 - B
    f. Above 80 - A
Ask user to enter marks and print the corresponding grade.

In [92]:
marks= int(input("Enter you mark: "))
if marks < 25:
    print ("F")
elif marks >= 25 and marks <45:
    print ("E")
elif marks >= 45 and marks <50:
    print ("D")
elif marks >= 50 and marks <60:
    print ("C")
elif marks >= 60 and marks <80:
    print ("B")
else:
    print("A")

Enter you mark: 35
E

## Take input of age of 3 people by user and determine oldest and youngest among them.

In [64]:
#age = list(input("enter your ages [, , ]")) --> como le tengo que preguntar a tres personas creo 3 inputs
person1= int(input("enter your age: "))
person2= int(input("enter your age: "))
person3= int(input("enter your age: "))
if person1 > person2 and person1 > person3:
    print("Person 1 is oldest")
elif person2 > person1 and person2 > person3:
    print("Person 2 is oldest")
elif person3 > person1 and person3 > person2:
    print("Person 3 is oldest")

enter your age: 2
enter your age: 4
enter your age: 6
Person 3 is oldest

##  Break the loop if number a number is greater than 15
*HINT* : use a break statment

In [3]:
numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]

## Write an if statement that asks for the user's name via input() function. If the name is "Bond" make it print "Welcome on board 007." Otherwise make it print "Good morning NAME". (Replace Name with user's name)

In [108]:
names= input("Enter your name: ")
if names == "Bond":
    print("Welcome on board 007")
else:
    print("Good morning",names)

Enter your name: Bond
Welcome on board 007

## `tree` is a dictionary showing the tree number of countries per square kilometer for random countries with sizeable population numbers. Create a list named "moretrees" that contains  the name of country names with more than 20.000 trees per square kilometer.

In [128]:
tree = {"Finland": 90652, "Taiwan": 69593,
               "Japan": 49894, "Russia": 41396, "Brazil": 39542, 
               "Canada": 36388, "Bulgaria": 24987, 
               "France": 24436, "Greece": 24323,
               "United States": 23513, "Turkey": 11126, 
               "India": 11109, "Denmark": 6129, "Syria": 534,
               "Saudi Arabia": 1}

In [130]:
treeees = {'key': 3, 'otra_key': 5, 'hola': 2, 'notengomásideas': 2}

In [131]:
moretrees =[]
for key,value in tree.items:
    if value>20000:
        moretrees.append(key)
print(moretrees) # no entiendo por qué no funciona

TypeError: 'builtin_function_or_method' object is not iterable