<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ejercicios-para-poner-en-práctica-las-funciones-sencillas" data-toc-modified-id="Ejercicios-para-poner-en-práctica-las-funciones-sencillas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ejercicios para poner en práctica las funciones sencillas</a></span><ul class="toc-item"><li><span><a href="#Realiza-una-función-llamada-relacion(a,-b)-que-a-partir-de-dos-números-cumpla-lo-siguiente:" data-toc-modified-id="Realiza-una-función-llamada-relacion(a,-b)-que-a-partir-de-dos-números-cumpla-lo-siguiente:-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Realiza una función llamada <strong>relacion(a, b)</strong> que a partir de dos números cumpla lo siguiente:</a></span></li><li><span><a href="#Realiza-una-función-separar(lista)-que-tome-una-lista-de-números-enteros-y-devuelva-dos-listas-ordenadas.-La-primera-con-los-números-pares-y-la-segunda-con-los-números-impares." data-toc-modified-id="Realiza-una-función-separar(lista)-que-tome-una-lista-de-números-enteros-y-devuelva-dos-listas-ordenadas.-La-primera-con-los-números-pares-y-la-segunda-con-los-números-impares.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Realiza una función separar(lista) que tome una lista de números enteros y devuelva dos listas ordenadas. La primera con los números pares y la segunda con los números impares.</a></span></li><li><span><a href="#Realiza-una-función-mayuscula(string)-que-tome-un-string-como-parámetro-y-devuelva-ese-mismo-string-en-mayúsculas." data-toc-modified-id="Realiza-una-función-mayuscula(string)-que-tome-un-string-como-parámetro-y-devuelva-ese-mismo-string-en-mayúsculas.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Realiza una función mayuscula(string) que tome un string como parámetro y devuelva ese mismo string en mayúsculas.</a></span></li><li><span><a href="#Realiza-una-función-frase(string)-que-tome-una-frase-y-devuelva-ese-mismo-string-dividido-sin-las-vocales" data-toc-modified-id="Realiza-una-función-frase(string)-que-tome-una-frase-y-devuelva-ese-mismo-string-dividido-sin-las-vocales-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Realiza una función frase(string) que tome una frase y devuelva ese mismo string dividido sin las vocales</a></span></li></ul></li><li><span><a href="#Ejercicios-para-poner-en-práctica-las-funciones-con-dataframes" data-toc-modified-id="Ejercicios-para-poner-en-práctica-las-funciones-con-dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ejercicios para poner en práctica las funciones con dataframes</a></span><ul class="toc-item"><li><span><a href="#Realiza-una-función--sexo(col)-que-tome-la-columan-sex-y-me-devuelva-Masculino-y-Femenino:" data-toc-modified-id="Realiza-una-función--sexo(col)-que-tome-la-columan-sex-y-me-devuelva-Masculino-y-Femenino:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Realiza una función  <code>sexo(col)</code> que tome la columan <code>sex</code> y me devuelva Masculino y Femenino:</a></span></li><li><span><a href="#Realiza-una-función-fecha(df)-que-tome-las-columnas-de-month,-day-y-year-y-nos-cree-una-nueva-columna-con-la-fecha-completa" data-toc-modified-id="Realiza-una-función-fecha(df)-que-tome-las-columnas-de-month,-day-y-year-y-nos-cree-una-nueva-columna-con-la-fecha-completa-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Realiza una función <code>fecha(df)</code> que tome las columnas de <code>month</code>, <code>day</code> y <code>year</code> y nos cree una nueva columna con la fecha completa</a></span></li></ul></li></ul></div>

## Ejercicios para poner en práctica las funciones sencillas

### Realiza una función llamada **relacion(a, b)** que a partir de dos números cumpla lo siguiente:

- Si el primer número es mayor que el segundo, debe devolver 1.
- Si el primer número es menor que el segundo, debe devolver -1.
- Si ambos números son iguales, debe devolver un 0.

In [16]:
num1 = 19
num2 = 10

In [17]:
if num1 > num2:
    print(-1)
elif num1 < num2:
    print(1)
else:
    print(0)

-1

In [ ]:
def relacion():
    return

### Realiza una función separar(lista) que tome una lista de números enteros y devuelva dos listas ordenadas. La primera con los números pares y la segunda con los números impares.

In [18]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [19]:
par = []
impar = []

In [21]:
for i in numbers:
    if i % 2 == 0:
        par.append(i)
    else:
        impar.append(i)

In [22]:
par

[2, 4, 6, 8, 10]

In [23]:
impar

[1, 3, 5, 7, 9]

In [ ]:
def separar():
    return

### Realiza una función mayuscula(string) que tome un string como parámetro y devuelva ese mismo string en mayúsculas.

In [24]:
frase = "hola que tal"

In [25]:
frase.upper()

'HOLA QUE TAL'

In [ ]:
def mayuscula():
    return

### Realiza una función frase(string) que tome una frase y devuelva ese mismo string dividido sin las vocales

*Hint* Podemos usar regex para sacar esta función (usando el método **sub**

In [ ]:
import re

def frase(string):
    return

## Ejercicios para poner en práctica las funciones con dataframes

Lo primero que tenemos que hacer es cargar el fichero `survey.csv` que será con el que trabajaremos

In [80]:
import pandas as pd

In [81]:
df = pd.read_csv("surveys.csv")
df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

### Realiza una función  `sexo(col)` que tome la columan `sex` y me devuelva Masculino y Femenino: 

- Las M como masculino
- Las F como femenino

In [82]:
def cambio_sex (i):
    if i == "M": 
        return "Masculino"
    elif i == "F":
        return "Femenino"
    else: 
        return "No data"

In [83]:
df["sex"] = df["sex"].apply(cambio_sex)

In [84]:
df.head(1)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,Masculino,32.0,NaN

### Realiza una función `fecha(df)` que tome las columnas de `month`, `day` y `year` y nos cree una nueva columna con la fecha completa

In [85]:
def fecha(df):
    return str(df['year']) + "-" + str(df['month']) + "-" + str(df['day'])

In [86]:
df["date"] = df.apply(fecha, axis = 1)

In [87]:
df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,date
0,1,7,16,1977,2,NL,Masculino,32.0,NaN,1977-7-16
1,2,7,16,1977,3,NL,Masculino,33.0,NaN,1977-7-16
2,3,7,16,1977,2,DM,Femenino,37.0,NaN,1977-7-16
3,4,7,16,1977,7,DM,Masculino,36.0,NaN,1977-7-16
4,5,7,16,1977,3,DM,Masculino,35.0,NaN,1977-7-16

La función `apply()` aplica la función de entrada a cada elemento a lo largo de la `columna` o `columnas` del dataset