<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ejercicios-para-poner-en-práctica-las-funciones-sencillas" data-toc-modified-id="Ejercicios-para-poner-en-práctica-las-funciones-sencillas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ejercicios para poner en práctica las funciones sencillas</a></span><ul class="toc-item"><li><span><a href="#Realiza-una-función-llamada-relacion(a,-b)-que-a-partir-de-dos-números-cumpla-lo-siguiente:" data-toc-modified-id="Realiza-una-función-llamada-relacion(a,-b)-que-a-partir-de-dos-números-cumpla-lo-siguiente:-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Realiza una función llamada <strong>relacion(a, b)</strong> que a partir de dos números cumpla lo siguiente:</a></span></li><li><span><a href="#Realiza-una-función-separar(lista)-que-tome-una-lista-de-números-enteros-y-devuelva-dos-listas-ordenadas.-La-primera-con-los-números-pares-y-la-segunda-con-los-números-impares." data-toc-modified-id="Realiza-una-función-separar(lista)-que-tome-una-lista-de-números-enteros-y-devuelva-dos-listas-ordenadas.-La-primera-con-los-números-pares-y-la-segunda-con-los-números-impares.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Realiza una función separar(lista) que tome una lista de números enteros y devuelva dos listas ordenadas. La primera con los números pares y la segunda con los números impares.</a></span></li><li><span><a href="#Realiza-una-función-mayuscula(string)-que-tome-un-string-como-parámetro-y-devuelva-ese-mismo-string-en-mayúsculas." data-toc-modified-id="Realiza-una-función-mayuscula(string)-que-tome-un-string-como-parámetro-y-devuelva-ese-mismo-string-en-mayúsculas.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Realiza una función mayuscula(string) que tome un string como parámetro y devuelva ese mismo string en mayúsculas.</a></span></li><li><span><a href="#Realiza-una-función-frase(string)-que-tome-una-frase-y-devuelva-ese-mismo-string-dividido-sin-unas-letras-dadas" data-toc-modified-id="Realiza-una-función-frase(string)-que-tome-una-frase-y-devuelva-ese-mismo-string-dividido-sin-unas-letras-dadas-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Realiza una función frase(string) que tome una frase y devuelva ese mismo string dividido sin unas letras dadas</a></span></li></ul></li><li><span><a href="#Ejercicios-para-poner-en-práctica-las-funciones-con-dataframes" data-toc-modified-id="Ejercicios-para-poner-en-práctica-las-funciones-con-dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ejercicios para poner en práctica las funciones con dataframes</a></span><ul class="toc-item"><li><span><a href="#Realiza-una-función--sexo(col)-que-tome-la-columan-sex-y-me-devuelva-Masculino-y-Femenino:" data-toc-modified-id="Realiza-una-función--sexo(col)-que-tome-la-columan-sex-y-me-devuelva-Masculino-y-Femenino:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Realiza una función  <code>sexo(col)</code> que tome la columan <code>sex</code> y me devuelva Masculino y Femenino:</a></span></li><li><span><a href="#Realiza-una-función-fecha(df)-que-tome-las-columnas-de-month,-day-y-year-y-nos-cree-una-nueva-columna-con-la-fecha-completa" data-toc-modified-id="Realiza-una-función-fecha(df)-que-tome-las-columnas-de-month,-day-y-year-y-nos-cree-una-nueva-columna-con-la-fecha-completa-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Realiza una función <code>fecha(df)</code> que tome las columnas de <code>month</code>, <code>day</code> y <code>year</code> y nos cree una nueva columna con la fecha completa</a></span></li><li><span><a href="#¿Cómo-aplicar-un-apply-para-una-función-que-recibe-dos-parámetros?" data-toc-modified-id="¿Cómo-aplicar-un-apply-para-una-función-que-recibe-dos-parámetros?-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>¿Cómo aplicar un <code>apply</code> para una función que recibe dos parámetros?</a></span></li><li><span><a href="#Ejemplo-de-llamada-a-una-API" data-toc-modified-id="Ejemplo-de-llamada-a-una-API-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Ejemplo de llamada a una API</a></span></li><li><span><a href="#Vamos-a-meter-estos-datos-en-Mongo-con-una-función" data-toc-modified-id="Vamos-a-meter-estos-datos-en-Mongo-con-una-función-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Vamos a meter estos datos en Mongo con una función</a></span></li></ul></li></ul></div>

## Ejercicios para poner en práctica las funciones sencillas

### Realiza una función llamada **relacion(a, b)** que a partir de dos números cumpla lo siguiente:

- Si el primer número es mayor que el segundo, debe devolver 1.
- Si el primer número es menor que el segundo, debe devolver -1.
- Si ambos números son iguales, debe devolver un 0.

In [1]:
num1 = 19
num2 = 10

In [2]:
if num1 > num2:
    print(-1)
elif num1 < num2:
    print(1)
else:
    print(0)

-1

In [3]:
def relacion():
    return

### Realiza una función separar(lista) que tome una lista de números enteros y devuelva dos listas ordenadas. La primera con los números pares y la segunda con los números impares.

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [5]:
par = []
impar = []

In [6]:
for i in numbers:
    if i % 2 == 0:
        par.append(i)
    else:
        impar.append(i)

In [7]:
par

[2, 4, 6, 8, 10]

In [8]:
impar

[1, 3, 5, 7, 9]

In [9]:
def separar():
    return

### Realiza una función mayuscula(string) que tome un string como parámetro y devuelva ese mismo string en mayúsculas.

In [10]:
frase = "hola que tal"

In [11]:
frase.upper()

'HOLA QUE TAL'

In [12]:
def mayuscula():
    return

### Realiza una función frase(string) que tome una frase y devuelva ese mismo string dividido sin unas letras dadas

*Hint* Podemos usar regex para sacar esta función (usando el método **sub**

In [1]:
import re

frase2 = "Hola que haces?"

In [2]:
pattern = '[aeiou]'

In [3]:
re.sub(pattern, "", frase2)

'Hl q hcs?'

In [66]:
vocales = 'aeiou'
nuevo_string = ""
for i in frase2:
    if i not in vocales:
        nuevo_string += i

In [67]:
nuevo_string

'Hl q hcs?'

In [ ]:
def frase(string):
    return

## Ejercicios para poner en práctica las funciones con dataframes

Lo primero que tenemos que hacer es cargar el fichero `survey.csv` que será con el que trabajaremos

In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("data/surveys.csv")
df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

### Realiza una función  `sexo(col)` que tome la columan `sex` y me devuelva Masculino y Femenino: 

- Las M como masculino
- Las F como femenino

In [16]:
def cambio_sex (i):
    if i == "M": 
        return "Masculino"
    elif i == "F":
        return "Femenino"
    else: 
        return "No data"

In [17]:
df["sex"] = df["sex"].apply(cambio_sex)

In [18]:
df.head(1)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,Masculino,32.0,NaN

### Realiza una función `fecha(df)` que tome las columnas de `month`, `day` y `year` y nos cree una nueva columna con la fecha completa

In [19]:
def fecha(df):
    return str(df['year']) + "-" + str(df['month']) + "-" + str(df['day'])

In [20]:
df["date"] = df.apply(fecha, axis = 1)

In [21]:
df.head(3)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,date
0,1,7,16,1977,2,NL,Masculino,32.0,NaN,1977-7-16
1,2,7,16,1977,3,NL,Masculino,33.0,NaN,1977-7-16
2,3,7,16,1977,2,DM,Femenino,37.0,NaN,1977-7-16

La función `apply()` aplica la función de entrada a cada elemento a lo largo de la `columna` o `columnas` del dataset

### ¿Cómo aplicar un `apply` para una función que recibe dos parámetros?

In [10]:
df = pd.DataFrame({'ID':['1', '2', '3'], 'year_birth': [1929,1952, 1990], 'year_death':[1999, 2015, 2020]})

In [11]:
df.head()

  ID  year_birth  year_death
0  1        1929        1999
1  2        1952        2015
2  3        1990        2020

In [12]:
def años_vida(col1, col2):
    return col2 - col1

In [13]:
df['life'] = df.apply(lambda x: años_vida(x.year_birth, x.year_death), axis=1)

In [14]:
df

  ID  year_birth  year_death  life
0  1        1929        1999    70
1  2        1952        2015    63
2  3        1990        2020    30

### Ejemplo de llamada a una API

In [1]:
import requests 
import json
import pandas as pd
import os
from dotenv import load_dotenv

In [35]:
load_dotenv()

True

In [36]:
token1= os.getenv("Client_Id")
token2 = os.getenv("Client_Secret")

In [51]:
coordinates  = [40.42955, -3.6793 ]

In [52]:
coordinates[0],coordinates[1]

(40.42955, -3.6793)

In [53]:
parametros = {"client_id" : token1,
                  "client_secret" : token2,
                  "v": "20180323",
                  "ll": f'{coordinates[0]},{coordinates[1]}', 
                  "query":"vegan",
                  "limit": 100}  
url_query = 'https://api.foursquare.com/v2/venues/explore'

In [88]:
resp = requests.get(url= url_query, params=parametros).json()['response']
#data = json.loads(resp.text)

In [89]:
resp

{'suggestedFilters': {'header': 'Tap to show:',
  'filters': [{'name': 'Open now', 'key': 'openNow'}]},
 'suggestedRadius': 618,
 'headerLocation': 'Lista',
 'headerFullLocation': 'Lista, Madrid',
 'headerLocationGranularity': 'neighborhood',
 'query': 'vegan',
 'totalResults': 12,
 'suggestedBounds': {'ne': {'lat': 40.43849091824499,
   'lng': -3.671190419191049},
  'sw': {'lat': 40.42269432826762, 'lng': -3.6983948657528067}},
 'groups': [{'type': 'Recommended Places',
   'name': 'recommended',
   'items': [{'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '58f4dca14acb19754be513e9',
      'name': 'Planet Organic Food&Life',
      'contact': {},
      'location': {'address': '63 Calle Castelló',
       'lat': 40.428808,
       'lng': -3.681333,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.428808,
         'lng': -3.681333}],
       'distance': 191,
       'postalCode': '28001',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['63 Calle Castelló',
        '28001 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': False,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'referralId': 'e-0-58f4dca14acb19754be513e9-0'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '4f318478e4b02344c2db8f44',
      'name': 'Swagat Indian Restaurant',
      'contact': {},
      'location': {'address': 'Nuñez de Balboa, 29',
       'crossStreet': 'esq. Goya',
       'lat': 40.424512747185425,
       'lng': -3.683114294018983,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.424512747185425,
         'lng': -3.683114294018983}],
       'distance': 647,
       'postalCode': '28001',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['Nuñez de Balboa, 29 (esq. Goya)',
        '28001 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': True,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'venuePage': {'id': '143645604'},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-4f318478e4b02344c2db8f44-1'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '59bd2433805e3f5982c09476',
      'name': "Bunny's Deli",
      'contact': {},
      'location': {'address': 'Calle San Gregorio 17',
       'lat': 40.423935,
       'lng': -3.6971583,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.423935,
         'lng': -3.6971583}],
       'distance': 1637,
       'postalCode': '28004',
       'cc': 'ES',
       'neighborhood': 'Chueca',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['Calle San Gregorio 17',
        '28004 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': True,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'venuePage': {'id': '457440977'},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-59bd2433805e3f5982c09476-2'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '5b9fa92ead1789002c610c90',
      'name': 'Roots',
      'contact': {},
      'location': {'address': 'C. Fernando VI',
       'lat': 40.424572,
       'lng': -3.6955872,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.424572,
         'lng': -3.6955872}],
       'distance': 1487,
       'postalCode': '28004',
       'cc': 'ES',
       'neighborhood': 'Chueca',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['C. Fernando VI',
        '28004 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': False,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-5b9fa92ead1789002c610c90-3'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '4c9f497b54c8a1cd597e954b',
      'name': 'Le Pain Quotidien',
      'contact': {},
      'location': {'address': 'C/ Serrano, 27',
       'lat': 40.4268909,
       'lng': -3.6877543,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.4268909,
         'lng': -3.6877543}],
       'distance': 775,
       'postalCode': '28001',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['C/ Serrano, 27',
        '28001 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d16a941735',
        'name': 'Bakery',
        'pluralName': 'Bakeries',
        'shortName': 'Bakery',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
         'suffix': '.png'},
        'primary': True}],
      'verified': True,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-4c9f497b54c8a1cd597e954b-4'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '4adcda3af964a5201c3d21e3',
      'name': 'La Galette 2 - Casa Escondida',
      'contact': {},
      'location': {'address': 'C. Doña Bárbara de Braganza, 10',
       'lat': 40.423449262141645,
       'lng': -3.69254024923133,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.423449262141645,
         'lng': -3.69254024923133}],
       'distance': 1311,
       'postalCode': '28004',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['C. Doña Bárbara de Braganza, 10',
        '28004 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': False,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-4adcda3af964a5201c3d21e3-5'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '57685c25498ee3f78cb522c5',
      'name': 'Fit Food Velázquez 39',
      'contact': {},
      'location': {'address': 'Velázquez 39',
       'lat': 40.42603396100617,
       'lng': -3.6841320991516113,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.42603396100617,
         'lng': -3.6841320991516113}],
       'distance': 566,
       'postalCode': '28002',
       'cc': 'ES',
       'city': 'madrid',
       'state': 'madrdi',
       'country': 'España',
       'formattedAddress': ['Velázquez 39', '28002 madrid madrdi', 'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': False,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'referralId': 'e-0-57685c25498ee3f78cb522c5-6'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '5f5b64a55e1e772ae2c93b2c',
      'name': 'Honest Greens',
      'contact': {},
      'location': {'lat': 40.428914,
       'lng': -3.687266,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.428914,
         'lng': -3.687266}],
       'distance': 678,
       'postalCode': '28001',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['28001 Madrid Madrid', 'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': False,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-5f5b64a55e1e772ae2c93b2c-7'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '4d931cf514228cfae3ee5a7b',
      'name': 'Fresc Co',
      'contact': {},
      'location': {'address': 'C. Narváez, 9',
       'lat': 40.423412355084764,
       'lng': -3.6756471459774516,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.423412355084764,
         'lng': -3.6756471459774516}],
       'distance': 750,
       'postalCode': '28009',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['C. Narváez, 9', '28009 Madrid Madrid', 'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': False,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-4d931cf514228cfae3ee5a7b-8'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '4b82e797f964a52040ec30e3',
      'name': 'Swagat II Indian Restaurant',
      'contact': {},
      'location': {'address': 'C. Cartagena, 82',
       'lat': 40.43584381433536,
       'lng': -3.672426984943857,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.43584381433536,
         'lng': -3.672426984943857}],
       'distance': 911,
       'postalCode': '28028',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['C. Cartagena, 82',
        '28028 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d1d3941735',
        'name': 'Vegetarian / Vegan Restaurant',
        'pluralName': 'Vegetarian / Vegan Restaurants',
        'shortName': 'Vegetarian / Vegan',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
         'suffix': '.png'},
        'primary': True}],
      'verified': True,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'venuePage': {'id': '143643573'},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-4b82e797f964a52040ec30e3-9'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '50b3e072e0e290ab3c96b6a6',
      'name': 'Goiko Grill',
      'contact': {},
      'location': {'address': 'C. María de Molina, 20',
       'lat': 40.437772891427834,
       'lng': -3.686615310483156,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.437772891427834,
         'lng': -3.686615310483156}],
       'distance': 1105,
       'postalCode': '28006',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['C. María de Molina, 20',
        '28006 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d16c941735',
        'name': 'Burger Joint',
        'pluralName': 'Burger Joints',
        'shortName': 'Burgers',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
         'suffix': '.png'},
        'primary': True}],
      'verified': True,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-50b3e072e0e290ab3c96b6a6-10'},
    {'reasons': {'count': 0,
      'items': [{'summary': 'This spot is popular',
        'type': 'general',
        'reasonName': 'globalInteractionReason'}]},
     'venue': {'id': '4b0697e2f964a52082ed22e3',
      'name': 'Olivia Te Cuida',
      'contact': {},
      'location': {'address': 'C. Santa Teresa, 8',
       'lat': 40.425803173477185,
       'lng': -3.695799480410735,
       'labeledLatLngs': [{'label': 'display',
         'lat': 40.425803173477185,
         'lng': -3.695799480410735}],
       'distance': 1459,
       'postalCode': '28010',
       'cc': 'ES',
       'city': 'Madrid',
       'state': 'Madrid',
       'country': 'España',
       'formattedAddress': ['C. Santa Teresa, 8',
        '28010 Madrid Madrid',
        'España']},
      'categories': [{'id': '4bf58dd8d48988d1c4941735',
        'name': 'Restaurant',
        'pluralName': 'Restaurants',
        'shortName': 'Restaurant',
        'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
         'suffix': '.png'},
        'primary': True}],
      'verified': False,
      'stats': {'tipCount': 0,
       'usersCount': 0,
       'checkinsCount': 0,
       'visitsCount': 0},
      'beenHere': {'count': 0,
       'lastCheckinExpiredAt': 0,
       'marked': False,
       'unconfirmedCount': 0},
      'photos': {'count': 0, 'groups': []},
      'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
     'flags': {'outsideRadius': True},
     'referralId': 'e-0-4b0697e2f964a52082ed22e3-11'}]}]}

In [84]:
data["response"]["groups"][0]["items"]

[{'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '58f4dca14acb19754be513e9',
   'name': 'Planet Organic Food&Life',
   'contact': {},
   'location': {'address': '63 Calle Castelló',
    'lat': 40.428808,
    'lng': -3.681333,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.428808,
      'lng': -3.681333}],
    'distance': 191,
    'postalCode': '28001',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['63 Calle Castelló',
     '28001 Madrid Madrid',
     'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': False,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'referralId': 'e-0-58f4dca14acb19754be513e9-0'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '4f318478e4b02344c2db8f44',
   'name': 'Swagat Indian Restaurant',
   'contact': {},
   'location': {'address': 'Nuñez de Balboa, 29',
    'crossStreet': 'esq. Goya',
    'lat': 40.424512747185425,
    'lng': -3.683114294018983,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.424512747185425,
      'lng': -3.683114294018983}],
    'distance': 647,
    'postalCode': '28001',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Nuñez de Balboa, 29 (esq. Goya)',
     '28001 Madrid Madrid',
     'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': True,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'venuePage': {'id': '143645604'},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-4f318478e4b02344c2db8f44-1'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '59bd2433805e3f5982c09476',
   'name': "Bunny's Deli",
   'contact': {},
   'location': {'address': 'Calle San Gregorio 17',
    'lat': 40.423935,
    'lng': -3.6971583,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.423935,
      'lng': -3.6971583}],
    'distance': 1637,
    'postalCode': '28004',
    'cc': 'ES',
    'neighborhood': 'Chueca',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Calle San Gregorio 17',
     '28004 Madrid Madrid',
     'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': True,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'venuePage': {'id': '457440977'},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-59bd2433805e3f5982c09476-2'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '5b9fa92ead1789002c610c90',
   'name': 'Roots',
   'contact': {},
   'location': {'address': 'C. Fernando VI',
    'lat': 40.424572,
    'lng': -3.6955872,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.424572,
      'lng': -3.6955872}],
    'distance': 1487,
    'postalCode': '28004',
    'cc': 'ES',
    'neighborhood': 'Chueca',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['C. Fernando VI', '28004 Madrid Madrid', 'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': False,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-5b9fa92ead1789002c610c90-3'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '4c9f497b54c8a1cd597e954b',
   'name': 'Le Pain Quotidien',
   'contact': {},
   'location': {'address': 'C/ Serrano, 27',
    'lat': 40.4268909,
    'lng': -3.6877543,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.4268909,
      'lng': -3.6877543}],
    'distance': 775,
    'postalCode': '28001',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['C/ Serrano, 27', '28001 Madrid Madrid', 'España']},
   'categories': [{'id': '4bf58dd8d48988d16a941735',
     'name': 'Bakery',
     'pluralName': 'Bakeries',
     'shortName': 'Bakery',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
      'suffix': '.png'},
     'primary': True}],
   'verified': True,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-4c9f497b54c8a1cd597e954b-4'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '4adcda3af964a5201c3d21e3',
   'name': 'La Galette 2 - Casa Escondida',
   'contact': {},
   'location': {'address': 'C. Doña Bárbara de Braganza, 10',
    'lat': 40.423449262141645,
    'lng': -3.69254024923133,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.423449262141645,
      'lng': -3.69254024923133}],
    'distance': 1311,
    'postalCode': '28004',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['C. Doña Bárbara de Braganza, 10',
     '28004 Madrid Madrid',
     'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': False,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-4adcda3af964a5201c3d21e3-5'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '57685c25498ee3f78cb522c5',
   'name': 'Fit Food Velázquez 39',
   'contact': {},
   'location': {'address': 'Velázquez 39',
    'lat': 40.42603396100617,
    'lng': -3.6841320991516113,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.42603396100617,
      'lng': -3.6841320991516113}],
    'distance': 566,
    'postalCode': '28002',
    'cc': 'ES',
    'city': 'madrid',
    'state': 'madrdi',
    'country': 'España',
    'formattedAddress': ['Velázquez 39', '28002 madrid madrdi', 'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': False,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'referralId': 'e-0-57685c25498ee3f78cb522c5-6'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '5f5b64a55e1e772ae2c93b2c',
   'name': 'Honest Greens',
   'contact': {},
   'location': {'lat': 40.428914,
    'lng': -3.687266,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.428914,
      'lng': -3.687266}],
    'distance': 678,
    'postalCode': '28001',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['28001 Madrid Madrid', 'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': False,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-5f5b64a55e1e772ae2c93b2c-7'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '4d931cf514228cfae3ee5a7b',
   'name': 'Fresc Co',
   'contact': {},
   'location': {'address': 'C. Narváez, 9',
    'lat': 40.423412355084764,
    'lng': -3.6756471459774516,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.423412355084764,
      'lng': -3.6756471459774516}],
    'distance': 750,
    'postalCode': '28009',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['C. Narváez, 9', '28009 Madrid Madrid', 'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': False,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-4d931cf514228cfae3ee5a7b-8'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '4b82e797f964a52040ec30e3',
   'name': 'Swagat II Indian Restaurant',
   'contact': {},
   'location': {'address': 'C. Cartagena, 82',
    'lat': 40.43584381433536,
    'lng': -3.672426984943857,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.43584381433536,
      'lng': -3.672426984943857}],
    'distance': 911,
    'postalCode': '28028',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['C. Cartagena, 82', '28028 Madrid Madrid', 'España']},
   'categories': [{'id': '4bf58dd8d48988d1d3941735',
     'name': 'Vegetarian / Vegan Restaurant',
     'pluralName': 'Vegetarian / Vegan Restaurants',
     'shortName': 'Vegetarian / Vegan',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
      'suffix': '.png'},
     'primary': True}],
   'verified': True,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'venuePage': {'id': '143643573'},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-4b82e797f964a52040ec30e3-9'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '50b3e072e0e290ab3c96b6a6',
   'name': 'Goiko Grill',
   'contact': {},
   'location': {'address': 'C. María de Molina, 20',
    'lat': 40.437772891427834,
    'lng': -3.686615310483156,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.437772891427834,
      'lng': -3.686615310483156}],
    'distance': 1105,
    'postalCode': '28006',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['C. María de Molina, 20',
     '28006 Madrid Madrid',
     'España']},
   'categories': [{'id': '4bf58dd8d48988d16c941735',
     'name': 'Burger Joint',
     'pluralName': 'Burger Joints',
     'shortName': 'Burgers',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
      'suffix': '.png'},
     'primary': True}],
   'verified': True,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-50b3e072e0e290ab3c96b6a6-10'},
 {'reasons': {'count': 0,
   'items': [{'summary': 'This spot is popular',
     'type': 'general',
     'reasonName': 'globalInteractionReason'}]},
  'venue': {'id': '4b0697e2f964a52082ed22e3',
   'name': 'Olivia Te Cuida',
   'contact': {},
   'location': {'address': 'C. Santa Teresa, 8',
    'lat': 40.425803173477185,
    'lng': -3.695799480410735,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.425803173477185,
      'lng': -3.695799480410735}],
    'distance': 1459,
    'postalCode': '28010',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['C. Santa Teresa, 8',
     '28010 Madrid Madrid',
     'España']},
   'categories': [{'id': '4bf58dd8d48988d1c4941735',
     'name': 'Restaurant',
     'pluralName': 'Restaurants',
     'shortName': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'},
     'primary': True}],
   'verified': False,
   'stats': {'tipCount': 0,
    'usersCount': 0,
    'checkinsCount': 0,
    'visitsCount': 0},
   'beenHere': {'count': 0,
    'lastCheckinExpiredAt': 0,
    'marked': False,
    'unconfirmedCount': 0},
   'photos': {'count': 0, 'groups': []},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
  'flags': {'outsideRadius': True},
  'referralId': 'e-0-4b0697e2f964a52082ed22e3-11'}]

In [79]:
data["response"]["groups"][0]["items"][0]

{'reasons': {'count': 0,
  'items': [{'summary': 'This spot is popular',
    'type': 'general',
    'reasonName': 'globalInteractionReason'}]},
 'venue': {'id': '58f4dca14acb19754be513e9',
  'name': 'Planet Organic Food&Life',
  'contact': {},
  'location': {'address': '63 Calle Castelló',
   'lat': 40.428808,
   'lng': -3.681333,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.428808,
     'lng': -3.681333}],
   'distance': 191,
   'postalCode': '28001',
   'cc': 'ES',
   'city': 'Madrid',
   'state': 'Madrid',
   'country': 'España',
   'formattedAddress': ['63 Calle Castelló', '28001 Madrid Madrid', 'España']},
  'categories': [{'id': '4bf58dd8d48988d1d3941735',
    'name': 'Vegetarian / Vegan Restaurant',
    'pluralName': 'Vegetarian / Vegan Restaurants',
    'shortName': 'Vegetarian / Vegan',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
     'suffix': '.png'},
    'primary': True}],
  'verified': False,
  'stats': {'tipCount': 0,
   'usersCount': 0,
   'checkinsCount': 0,
   'visitsCount': 0},
  'beenHere': {'count': 0,
   'lastCheckinExpiredAt': 0,
   'marked': False,
   'unconfirmedCount': 0},
  'photos': {'count': 0, 'groups': []},
  'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []}},
 'referralId': 'e-0-58f4dca14acb19754be513e9-0'}

### Vamos a meter estos datos en Mongo con una función

In [22]:
from pymongo import MongoClient

In [23]:
dict_df = df.to_dict(orient = "records")

In [24]:
dict_df[1]

{'record_id': 2,
 'month': 7,
 'day': 16,
 'year': 1977,
 'plot_id': 3,
 'species_id': 'NL',
 'sex': 'Masculino',
 'hindfoot_length': 33.0,
 'weight': nan,
 'date': '1977-7-16'}

In [27]:
client = MongoClient()
db = client.numeros
collection = db.create_collection(name = "lluvia")

In [28]:
collection.insert_many(dict_df)